$color_red: #FF4641;
$color_orange: #FC4F1E;
$color_background: #F9F7F2;
$color_grey: #9D9D9D;
$color_black: #212121;

$font_large: 2.123vw;
$font_big: 1.245vw;
$font_medium: 1.098vw;
$font_small: 0.805vw;

$width: 64.348vw;
$height_info: 32.211vw;
$height_reviews: 44.363vw;
$height_chat: 55.49vw;
$avatar_size: 3.221vw;