@use "default_variables" as *;

.modal-galery {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 25;

    .galery-swiper {
        position: absolute;
        width: 35%;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);

        .galery-pagination {
            position: absolute;
            bottom: -4%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 30;

            display: flex;
            justify-content: center;
            align-items: center;

            .swiper-pagination-bullet {
                margin: 0 0.366vw;
                width: 8px;
                height: 8px;
                background: $color_grey;
                border-radius: 50%;
                cursor: pointer;
            }

            .swiper-pagination-bullet-active {
                width: 10px;
                height: 10px;

                background-color: $color_red;
            }
        }

        @media (max-width: 1020px) {

            .galery-pagination {
                display: none;
            }
        }

        .galery-button-prev,
        .galery-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 5vw;
            color: $color_grey;
            cursor: pointer;
            user-select: none;

            transition: color 0.3s ease;
        }

        .galery-button-prev:hover,
        .galery-button-next:hover {
            color: $color_red;
        }

        .galery-button-next {
            right: -15%;
        }

        .galery-button-prev {
            left: -15%;
        }
    }
}